.newOl{

  background: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.9)),url(http://i69.photobucket.com/albums/i73/ToddVNO/Seiko%20300M%20Tuna/PC304395.jpg) center center no-repeat;
  background-size: cover;
}
.input-fix{

}
.input-fix input{
  margin:0;
  margin-right:4px;
  border: none;
  padding: 0px 20px;
  background-color: #F9F9F9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}
