/*meme review*/

.review{
  margin:auto;
  margin-top: 150px;
  width:60%;
  max-width: 700px;
  display: inline-block;
  overflow: hidden;
}
.review-c{
  display: flex;
  flex-direction: row;
  width:2000px;
  height:400px;
  background:#F3F3F3;
  margin-left: 170px;
  animation:review 10s infinite both;
  outline-offset: 50px;
}
.single-r{
  background:#f3f3f3;
  width:700px;
  height:300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:auto 100px;
}
.single-r img{
  width:100px;
  margin:auto;
  border-radius: 50%;
}
.single-r p{
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  opacity: .7;
}
.single-r h3{
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: lighter;
}
